.header__container
  .header__top
    -if user_signed_in?
      = link_to image_tag("note_logo"), user_path(current_user), class: "icon"
    -else
      = link_to image_tag("note_logo"), contributes_path, class: "icon"
    .header__top__right
      %ul
        = render header_top_partial_path
