.logo {
  color: #222222;
  font-weight: bold;
  font-size: 27px;
  text-decoration: none;
}

.center_logo {
  display: block;
  margin: 0 auto;
  color: #222222;
  font-weight: bold;
  height: 20px;
  width: 64px;
  font-size: 25px;
  text-decoration: none;
}
