.space-top-h{
  margin-top: 5px;
}

.space-top-1{
  margin-top: 10px;
}

.space-top-1h{
  margin-top: 15px;
}

.space-top-2{
  margin-top: 20px;
}

.space-bottom-h{
  margin-bottom: 5px;
}

.space-bottom-1{
  margin-bottom: 10px;
}

.space-bottom-1h{
  margin-bottom: 15px;
}

.space-bottom-2{
  margin-bottom: 20px;
}

