.action {
   height: 30px;
  .like {
    cursor: pointer;
  }
  .like__count {
    cursor: pointer;
    vertical-align: top;
    height: 24px;
    color: #787c7b;
    padding: 5px 0 5px 5px;
    font-size: 14px;
    margin-right: 35px;
  }
}
