.each__contribute {
  background-color: #fff;
  width: 580px;
  max-height: 768px;
  margin: 0 auto;
  margin-top: 20px;
  border: 1px solid #e8eceb;

  .contribute__header {
    margin: 20px;
  }
  .contribute__image {

  }
  .contribute__content {

  }
}


