.comment__overlay {
  z-index: 2;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background-color: rgba(0,0,0,0.5);
}
.comment__box {
  display: none;
  z-index: 3;
  position: fixed;
  width: 400px;
  border-radius: 15px;
  background-color: $mainWhiteColor;
  top: 100px;
  left: 33%;
  box-sizing: border-box;

  &__header {
    font-size: 16px;
    padding: 15px 0;
    font-weight: bold;
    background-color: $mainWhiteColor;
    text-align: center;
    border-bottom: 1px solid $borderColor;
  }
  &__content {
    text-align: center;
    padding: 30px;
    font-size: 12px;
    box-sizing: border-box;
  }
  &__footer {
    box-sizing: border-box;
    padding: 10px;
    height: 50px;
    font-size: 12px;
    border-top: 1px solid $borderColor;
    background-color: $backGreyColor;

    .comment__delete__button {
      float: left;
      color: #ED4956;
      border: 1px solid #ED4956;
      border-radius: 5px;
      padding: 5px 10px;
      cursor: pointer;

      .delete_link {
        color: #ED4956;
        text-decoration: none;
      }
    }
    .comment__cancel__button {
      float: right;
      padding: 5px 10px;
      border: 1px solid #e8eceb;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}
.target {
  background-color: $mainWhiteColor;
  border-top: 1px solid rgba(0,0,0,0.15);
  padding-bottom: 50px;
  .target_contribute {
    width: 580px;
    margin: 0 auto;
    padding-top: 40px;

    .target_image {

      .target_image_content {
        width: 580px;
      }
    }
    .target_title {
      margin-top: 30px;
      margin-bottom: 18px;
      font-size: 32px;
      letter-spacing: 0.04em;
    }
    .target_user {

      .inline {

        .user__nickname {
          color: $blackColor;
          font-size: 12px;
          font-weight: bold;
          cursor: pointer;
        }
        .contribute__created {
          color: $blackColor;
          font-size: 11px;
        }
      }
    }
    .target_content {
      margin-top: 36px;
      padding-bottom: 36px;
      font-size: 18px;
      line-height: 36px;
    }

    .target_hashtags {
      margin-bottom: 30px;

      .target_tag {
        text-decoration: none;
        color: #898D8C;
        font-size: 12px;
        padding: 5px 8px;
        border-radius: 4px;
        background-color: $backgroundGrey;
      }
    }
  }
  .recommended_contributes {
    width: 580px;
    margin: 0 auto;

    .recommended_contributes_index {
      font-size: 13px;
      padding-bottom: 10px;
      border-bottom: 1px solid rgba(0,0,0,0.05);
    }
    .recommended_contribute {
      border-bottom: 1px solid #efefef;
      height: 60px;
      padding-top: 15px;
      padding-bottom: 15px;
      .left_part {
        width: 500px;
        float: left;

        .left_part_top {

          .title_link {
            font-size: 16px;
            font-weight: bold;
            color: $blackColor;
            text-decoration: none;
          }
        }
        .left_part_bottom {
          font-size: 12px;

          .likes_count {
            color: #EA3F60;
            margin-right: 10px;
          }
        }
      }
      .right_part {
        width: 60px;
        float: right;
        .contribute_image_content {
          width: 60px;
          box-sizing: border-box;
          border-radius: 3px;
          border: 1px solid #e8eceb;
        }
      }
    }
    .recommended_before_next {
      white-space: nowrap;
      border-bottom: 1px solid #e1e5e7;

      .recommended_before, .recommended_next{
        margin-top: 15px;
        margin-bottom: 15px;
        width: 49%;
        box-sizing: border-box;

        .before, .next {
          display: block;
          width: 100%;
          text-decoration: none;
          color: $blackColor;
          font-size: 16px;

          .angle {
            font-size: 20px;
          }
        }
      }
      .center_border {
        border-left: 1px solid #e1e5e7;
        margin-top: 15px;
        height: 24px;
      }
      .recommended_next {
        text-align: right;
      }
    }
  }
  .comments {
    border-top: solid 1px #e6e6e6;
    margin-top: 10px;

    .comments__list {
      width: 580px;
      margin: 0 auto;
      padding-top: 24px;
      padding-bottom: 24px;

      .comments__count {
        font-size:13px;
        font-weight: bold;
        margin-bottom: 16px;
      }
      .each__comment {
        padding-bottom: 24px;

        .comment__header {
          .user__image {
            position: relative;
            top: 5px;
          }
          ul {
            margin-left: 5px;

            .comment__created {
              font-size: 10px;
              color: #787c7b;
            }
          }

         .fa.fa-ellipsis-h {
           margin-left: 230px;
           cursor: pointer;
           color: #787c7b;
           position: relative;
           bottom: 6px;

          .balloon {
            display: none;
            width: 170px;
            box-shadow: 0 1px 2px rgba(0,0,0,0.25), 0 0 1px rgba(0,0,0,0.35);
            border-radius: 5px;
            color: $blackColor;
            font-size: 12px;
            padding-top: 8px;
            padding-bottom: 8px;
            position: absolute;
            bottom: 25px;
            right: 1px;
            z-index: 1;
            background-color: $mainWhiteColor;
            min-height: 44px;

              .comment__edit, .comment__delete {
                padding: 5px 15px;
                cursor: pointer;
              }
              .comment__report {
                cursor: pointer;
                padding: 5px 15px;
                margin: 10px 0px;
              }
           }
          .balloon:before {
            content: "";
            border: 12px solid transparent;
            border-top: 12px solid rgba(0,0,0,0.25);
            position: absolute;
            top: 60px;
            right: 1%;
          }
          .balloon:after {
            content: "";
            border: 12px solid transparent;
            border-top: 12px solid $mainWhiteColor;
            position: absolute;
            top: 59px;
            right: 1%;
          }
         }
        }
      }
      .comment__content {
        margin-top: 8px;
        .contents {
          margin-left: 45px;
          color: #444444;
          font-size: 14px;
        }
      }
    }
    .comments__container {
      border-top: solid 1px #e6e6e6;
      width: 580px;
      margin: 0 auto;
      padding-top: 24px;
      padding-bottom: 24px;

      #comment_content {
        margin-left: 10px;
        position: relative;
        bottom: 10px;
        display: inline-block;
        width: 500px;
        height: 35px;
        line-height: 35px;
        color: #444444;
        border: none;
        outline: none;
      }
      #comment_submit {
        opacity: 0;
        margin-left: 450px;
        font-size: 12px;
        height: 32px;
        width: 100px;
        pointer-events: none;
        background-color: $buttonGreen;
        color: $mainWhiteColor;
        border-radius: 5px;
      }
    }
  }
  .user__image {
    width: 36px;
    height: 36px;
    border-radius: 30px;
    cursor: pointer;
  }
}
