%li.inline
  = link_to "ログイン", new_user_session_path, class: "login__button"
%li.inline
  = link_to "新規登録", new_user_registration_path, class: "regist__button"
%li.inline
  = image_tag "search_button", class: "search__button"
